In [1]:
import pandas as pd

In [4]:
holiday_file = pd.read_csv("HolidayDestinations.csv")

In [5]:
holiday_file

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
0,UK,10,5,900,England
1,USA,9,5,810,New York
2,France,9,5,300,Paris
3,Morroco,7,3,350,Fez
4,Germany,9,5,595,Berlin
5,Ireland,7,4,600,Dublin
6,Hungary,8,4,800,Budapest
7,Croatia,7,4,750,Zagreb
8,South Korea,9,3,5,Seoul
9,America,8,5,22500,New York
10,North Korea,4,3,5,Pyongyang
11,South Korea,10,6,5,Seoul
12,Italy,11,4,2550,Venice
13,Japan,12,5,800,Kyoto
14,Switzerland,8,5,470,Geneva
15,Portugal,9,4,690,Porto

In [6]:
#Q1 - how many rows and columns are there in your file?
holiday_file.shape

(16, 5)

In [9]:
#Q2 - print row 3-8 (using loc/iloc)
holiday_file.iloc[3:9]

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
3,Morroco,7,3,350,Fez
4,Germany,9,5,595,Berlin
5,Ireland,7,4,600,Dublin
6,Hungary,8,4,800,Budapest
7,Croatia,7,4,750,Zagreb
8,South Korea,9,3,5,Seoul

In [10]:
#Q4 - find the lowest scoring destination
min_filter = holiday_file["Feedback Score"] == holiday_file["Feedback Score"].min()

print("Destinations with lowest score:")
holiday_file[min_filter]

Destinations with lowest score:

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
10,North Korea,4,3,5,Pyongyang

In [11]:
#Q5 - find the highest scoring desitination
max_filter = holiday_file["Feedback Score"] == holiday_file["Feedback Score"].max()

print("Destinations with lowest score:")
holiday_file[max_filter]

Destinations with lowest score:

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
13,Japan,12,5,800,Kyoto

In [12]:
#Q6 - find the destinations that have more than 600 all-inclusive hotels
num_hotels_filter = holiday_file["No of all inc hotels"] > 600
holiday_file[num_hotels_filter]

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
0,UK,10,5,900,England
1,USA,9,5,810,New York
6,Hungary,8,4,800,Budapest
7,Croatia,7,4,750,Zagreb
9,America,8,5,22500,New York
12,Italy,11,4,2550,Venice
13,Japan,12,5,800,Kyoto
15,Portugal,9,4,690,Porto

In [13]:
#Q7 - filter by score above 8
score_filter = holiday_file["Feedback Score"] > 8

print("Destinations with score over 8:")
holiday_file[score_filter]

Destinations with score over 8:

,Destination,Feedback Score,Avg hotel rating,No of all inc hotels,Most visited City
0,UK,10,5,900,England
1,USA,9,5,810,New York
2,France,9,5,300,Paris
4,Germany,9,5,595,Berlin
8,South Korea,9,3,5,Seoul
11,South Korea,10,6,5,Seoul
12,Italy,11,4,2550,Venice
13,Japan,12,5,800,Kyoto
15,Portugal,9,4,690,Porto

In [14]:
#Q8 - filter by score below 2 

score_filter = holiday_file["Feedback Score"] < 2

print("Destinations with score less than 2:")
holiday_file[score_filter]

Destinations with score less than 2:

Empty DataFrame
Columns: [Destination, Feedback Score, Avg hotel rating, No of all inc hotels, Most visited City]
Index: []

In [16]:
#Q9 - is there a correlation between number of all-inclusive hotels and score?
# Extract the columns we're interested in
data = holiday_file[["Feedback Score", "No of all inc hotels"]]

# Display correlation
data.corr()

# Correlation is the measure of the statistical relationship, or association, between two variables. 
# Degree of correlation guideline
#    Perfect: If the value is near ± 1, then it is said to be a perfect correlation - as one variable increases, the other variable tends to also increase (if positive) or decrease (if negative).
#    High degree: If the value lies between ± 0.50 and ± 1, then it is said to be a strong correlation.
#    Moderate degree: If the value lies between ± 0.30 and ± 0.49, then it is said to be a medium correlation.
#    Low degree: When the value lies below ± .29, then it is said to be a small correlation.

                      Feedback Score  No of all inc hotels
Feedback Score              1.000000             -0.030852
No of all inc hotels       -0.030852              1.000000

In [24]:
#Q10 - create visualisation diagram to show destination and scores 
holiday_file.set_index("Destination", inplace = True)
holiday_file.plot.bar(y='Feedback Score')

KeyError: "None of ['Destination'] are in the columns"

In [22]:
import  matplotlib 

holiday_file.groupby(["Destination"]).sum().plot.pie(y='No of all inc hotels', figsize=(8,8))

ModuleNotFoundError: No module named 'matplotlib'